/* Add your custom styles here */

body {
    padding-top: 56px; /* Adjust based on your navbar height */
    background-color: #1a1a1a; /* Dark background color */
    color: #ffffff; /* Light text color */
}

.navbar {
    background-color: #343a40 !important; /* Dark navbar background color */
}

.nav-link {
    color: #ffffff !important; /* Light text color for nav links */
}

/* Customize as needed */
